/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

table{

  width: 100%;

  text-align: center;


}

body{
  
  background-color: gray;
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
 
}

#gameTable{
  background-color: blueviolet;
}

td{
  background-color: cyan;
  padding: 3rem;
  border-radius: 4px;
  border-width: 8px;
}
button{
 background-color: blueviolet;
 border-radius: 4px;
 padding-top: 5px;
 padding-bottom: 5px;
 position: relative;
 top: 15px;

}

th{
  background-color: cyan;
  border-radius: 2px;
  border-width: 8px;
  border-top: 10px;
}

